{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: A modified version of the page title, for use in the TITLE tag.
 * - head_title_array: List of text elements that make up the head_title
 *   variable. May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 *
 * @see template_preprocess_html()
 * @see arborist_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'top',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {{ head }}
    <title>{{ head_title }}</title>
    {{ styles }}
    {{ scripts }}
  </head>
  <body{{ attributes.addClass(classes) }}>
    <ul class="skip-to-content">
      <li><a href="#main-content" class="visually-hidden focusable">{{ 'Skip to main content'|t }}</a></li>
      {% if page.footer %}
        <li><a href="#footer-content" class="visually-hidden focusable">{{ 'Skip to footer content'|t }}</a></li>
      {% endif %}
    </ul>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    {{ scripts_bottom }}
  </body>
</html>
